<div ng-cloak ng-controller="GuestRestaurantsController">
    <header class="main_header" style="top : 70px">
        <div class="container">
            <nav class="navbar navbar_default" role="navigation">
                <div class="menuBar">
                    <li><a href="#/guest" ng-click="disconnect()">Home</a></li>
                    <li><a href="#/guest/profile" ng-click="disconnect()">Profile</a></li>
                    <li><a href="#/guest/friends" ng-click="disconnect()">Friends</a></li>
                    <li><a href="#/guest/friendRequests" ng-click="disconnect()">Friend Requests<span class="badge" ng-if="showRequests" style="background-color: red">{{friendRequestsNumber}}</span></a></li>
                    <li class="active"><a href="#/guest/restaurants">Restaurants</a></li>
                    <li><a href="#/" ng-click="disconnect()">Log out</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="carousel-caption">
            <h3>Restaurants</h3>

            <table class="responstable">
                <thead>
                <tr>
                    <th>Restaurant name:</th>
                    <th>Restaurant type:</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in restaurants">
                    <td>{{r.rName}}</td>
                    <!--<td><input ng-model="r.rType" type="text" class="form-control form-control-lg" placeholder="Enter restaurant type"></td>-->
                    <td>{{r.rType}}</td>
                    <td><a class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>  Book now</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>