<div ng-cloak ng-controller="RestaurantManagerFunctionsController">
    <header class="main_header" style="top : 70px">
        <div class="container">
            <nav class="navbar navbar_default" role="navigation">

                <div class="menuBar">
                    <li><a href="#restaurantManager">Home</a></li>
                    <li><a href="#/restaurantManager/providers">Update Providers</a></li>
                    <li><a href="#/restaurantManager/waiters">Update Waiters</a></li>
                    <li><a href="#/restaurantManager/bartenders">Update Bartenders</a></li>
                    <li><a href="#/restaurantManager/cooks">Update Cooks</a></li>
                    <li><a href="#restaurantManager/calendar">Calendar</a></li>
                    <li><a href="#restaurantManager/tables">Table arrangement</a></li>
                    <li><a href="index.html">Log out</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="carousel-caption">
            <div style="background-color:white">
                <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-default" ng-click="openEventModal()">Add events</button>
        </div>
    </div>
</div>