<div ng-cloak ng-controller="RestaurantManagerFunctionsController">
    <header class="main_header" style="top : 70px">
        <div class="container">
            <nav class="navbar navbar_default" role="navigation">

                <div class="menuBar">
                    <ul>
                        <li><a href="#restaurantManager">Home</a></li>
                        <li><a href="#restaurantManager/calendar">Calendar</a></li>
                        <li><a href="#restaurantManager/tables">Table arrangement</a></li>
                        <li><a href="index.html">Log out</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="carousel-caption">
            <div style="background-color:white">
                <div class="row">
                    <div class="col-sm-1 col-md-offset-1 column">
                        <div style="background-color: black !important; margin: 2px" data-drag="true" ng-repeat="r in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" ng-model="tables[r]" jqyoui-draggable="{placeholder:true}" data-jqyoui-options>{{tables[r].title}}</div>
                    </div>

                    <div class="col-sm-10" >
                        <div class="column" ng-repeat="r1 in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <span class="col-sm-1 thumbnail" style="background-color: black !important; margin: 5px" data-drop="true" ng-repeat="r2 in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" ng-model="places[r1*10 + r2]" jqyoui-draggable data-jqyoui-options>{{places[r1*10 + r2].title}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>