<div ng-cloak ng-controller="WaiterController">
    <header class="main_header" style="top : 70px">
        <div class="container">
            <nav class="navbar navbar_default" role="navigation">


                <div class="menuBar">

                    <li><a href="#restaurantManager">Home</a></li>
                    <li><a href="#/restaurantManager/providers">Update Providers</a></li>
                    <li><a href="#/restaurantManager/waiters">Update Waiters</a></li>
                    <li><a href="#/restaurantManager/bartenders">Update Bartenders</a></li>
                    <li><a href="#/restaurantManager/cooks">Update Cooks</a></li>
                    <li><a href="#restaurantManager/calendar">Calendar</a></li>
                    <li><a href="#restaurantManager/tables">Table arrangement</a></li>
                    <li><a href="index.html">Log out</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="carousel-caption">
            <h3>Waiters</h3>

            <a ng-click="openAddModal()" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span> Add Waiter</a>

            <table class="responstable">
                <thead>
                <tr>
                    <th>Waiter name:</th>
                    <th>Waiter surname:</th>
                    <th>Waiter email:</th>
                    <th>Waiter date of birth:</th>
                    <th>Waiter dress size:</th>
                    <th>Waiter shoe size:</th>
                    <!--<th>Waiter restaurant:</th>-->
                    <th>Waiter review:</th>
                    <th>Edit:</th>
                    <th>Delete:</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="w in waiters">
                    <td>{{w.name}}</td>
                    <td>{{w.surname}}</td>
                    <td>{{w.email}}</td>
                    <td>{{w.date_of_birth | date}}</td>
                    <td>{{w.dress_size}}</td>
                    <td>{{w.shoe_size}}</td>
                    <!--<td>{{w.restaurant.rName}}</td>-->
                    <td>{{w.review}}</td>
                    <td><a ng-click="openUpdateModal(w)" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a ng-click="removeWaiter(w)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>